node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
# macOS
.DS_Store
build/asset-manifest.json
build/index.html
build/manifest.json
build/service-worker.js
build/service-worker.js.LICENSE.txt
build/service-worker.js.map
build/assets/shapes.svg
build/assets/icon/favicon.png
build/assets/icon/icon.png
build/static/css/main.c2781db4.css
build/static/css/main.c2781db4.css.map
build/static/js/22.4fdd24e7.chunk.js
build/static/js/22.4fdd24e7.chunk.js.map
build/static/js/133.dc3f0ee6.chunk.js
build/static/js/133.dc3f0ee6.chunk.js.map
build/static/js/186.e831ad1e.chunk.js
build/static/js/186.e831ad1e.chunk.js.map
build/static/js/272.06be5b00.chunk.js
build/static/js/272.06be5b00.chunk.js.LICENSE.txt
build/static/js/272.06be5b00.chunk.js.map
build/static/js/372.26ca6a15.chunk.js
build/static/js/372.26ca6a15.chunk.js.map
build/static/js/377.fcf82100.chunk.js
build/static/js/377.fcf82100.chunk.js.map
build/static/js/738.fe31a753.chunk.js
build/static/js/738.fe31a753.chunk.js.LICENSE.txt
build/static/js/738.fe31a753.chunk.js.map
build/static/js/841.0450f58b.chunk.js
build/static/js/841.0450f58b.chunk.js.map
build/static/js/851.8d1d25f0.chunk.js
build/static/js/851.8d1d25f0.chunk.js.LICENSE.txt
build/static/js/851.8d1d25f0.chunk.js.map
build/static/js/856.a4baceb1.chunk.js
build/static/js/856.a4baceb1.chunk.js.map
build/static/js/main.ae792630.js
build/static/js/main.ae792630.js.LICENSE.txt
build/static/js/main.ae792630.js.map
